<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div id="page-container">

  <app-navbar></app-navbar>

    <div id="content-wrap">
      <div class = "container"> 
        <router-outlet></router-outlet>
      </div>



    <!-- all other page content -->
  </div>
  
  <footer id="footer"><div class="text-center p-3" style="background-color: black;">
    Powered by TMDB. Developed by Yaoyuan Cui 
  </div> </footer>
</div>
<!-- Footer -->
  
  <!--app-homepage></app-homepage>-->

