input[type="text"]{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;
    border-radius: 0;
}
input[type="text"]:focus{
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    background: transparent;
    border-bottom: 2px solid white;
    color:white;
}

.navbar .dropdown-menu {
    background-color: blue;
  }

  .dropdown-menu {
    background-color: #ff0000;
}

.hightLink{
    color: white;
}